body { 
  margin : 0;
}

h1 {
  margin : 0;
}

.top-container {
  background-color : #E4f9f5;
}

.middle-container{
  hight : 200px;
  width : 200px; 
  Background-color : blue;
}

.bottom-container{
  hight : 200px;
  width : 200px;
  Background-color : red;  
}

